.vscode/
bases/dist/
FileZilla.app/
._backgroundfooter.jpg
._backgroundfooter.jpeg
._backgroundheader.jpg
._fillezilla.bz2
._GifWebDevCV.gif
._menu-icon-white-png-27.jpeg
_backgroundfooter.jpeg
fillezilla.bz2
main.css
main.css.map
menu-icon-white-png-27.jpeg
package-lock.json
._logocode.png
backgroundfooter.jpeg
._favicon_io
._favicon_io.zip
favicon_io.zip
dist/.bash_logout
dist/.bash_profile
.bashrc
.ovhconfig