.vscode/
bases/dist/
FileZilla.app/
._backgroundfooter.jpg
._backgroundfooter.jpeg
._backgroundheader.jpg
._fillezilla.bz2
._GifWebDevCV.gif
._menu-icon-white-png-27.jpeg
_backgroundfooter.jpeg
fillezilla.bz2
main.css
main.css.map
menu-icon-white-png-27.jpeg
package-lock.json
._logocode.png
backgroundfooter.jpeg
._favicon_io
._favicon_io.zip
favicon_io.zip
dist/.bash_logout
dist/.bash_profile
.bashrc
.ovhconfig
CSS/dist/._main.css
GifWebDevCV.gif
Layout/.gitignore
Layout/_body.scss
Layout/_contact.scss
Layout/_cvpart.scss
Layout/_header.scss
Layout/_responsive.scss
Layout/dist/_body.css
Layout/dist/_contact.css
Layout/dist/_header.css
Layout/dist/_responsive.css
backgroundfooter.jpg
backgroundheader.jpg
bases/_animations.scss
bases/_restart.scss
bases/_typo.scss
bases/_variables.scss
bases/dist/_restart.css bases/dist/_typo.css
bases/dist/_variables.css
components/_button.scss
components/_darkmode.scss
dist/._main.css
favicon_io/about.txt
favicon_io/android-chrome-192x192.png
favicon_io/android-chrome-512x512.png
favicon_io/apple-touch-icon.png
favicon_io/favicon-16x16.png
favicon_io/favicon-32x32.png
favicon_io/favicon.ico
favicon_io/site.webmanifest
javascript/dist/index.dev.js
logocode.png
menu-burger-crop.png