// COLOR

$text-color: white;
$link-hover-color: pink;
$text-color-dark: rgb(20, 20, 20);
$color-back-main: rgba(194, 194, 194, 0.5);
$color-gradient-1: #e66465;
$color-gradient-2: #9198e5;

// LAYOUT
$margin-top-base: 15rem;
