// COLORS

$color-primary: #201c3c;
$color-secondary: rgba(161, 161, 161, 0.467);
$color-white: #fff;

$color-cv-1: #36047f;
$color-cv-2: #2d7ddd;

$color-header-pink: #b42cc2;
$color-header-purple: #2f1e83;

// Others

$margin-top-base: 15rem;
