.vscode/
bases/dist/
FileZilla.app/
._backgroundfooter.jpg
._backgroundfooter.jpeg
._backgroundheader.jpg
._fillezilla.bz2
._GifWebDevCV.gif
._menu-icon-white-png-27.png
_backgroundfooter.jpeg
fillezilla.bz2
main.css
main.css.map
menu-icon-white-png-27.png
package-lock.json