.main {
  background: $color-back-main;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-bottom: 20rem;

  &-left {
    margin-top: $margin-top-base;
  }

  &-subtitle {
    margin-top: $margin-top-base;
  }

  &-content {
    margin-top: 1.5rem;
  }

  &-center {
    margin-top: $margin-top-base;
  }

  &-center-bottom {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-top: 10rem;
  }

  &-right {
    margin-top: $margin-top-base;
  }
}
