.header {
  background-image: url(/img/backgroundheader.jpg);
  height: 100vh;
  position: relative;
  border-radius: 30px 30px 0 0;

  &-top {
    display: flex;
    flex-direction: row;
    padding: 3rem;
    justify-content: space-between;
  }

  &-nav-list {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 50rem;
    padding: 1rem;
  }

  &-main {
    margin-top: 10vh;
  }

  &-description {
    margin-bottom: 2rem;
  }

  &-gif {
    height: 50rem;
    margin-left: auto;
    margin-right: auto;
  }
}
