/////////////// Responsive Phone

// Screen < 4.7"

@media screen and (max-width: 320px) {
  body {
    margin: 0;
  }

  .header {
    font-size: 1rem;
    border-radius: 0;
    &-nav-item {
      left: 85vw;
      height: 2rem;
      font-size: 0.5rem;
    }
    &-description {
      font-size: 2rem;
    }
    &-gif {
      height: 15rem;
    }
    &-title {
      font-size: 2rem;
    }
  }

  .main {
    display: block;
    padding: 1rem;
    &-subtitle {
      font-size: 2rem;
      margin-top: 2rem;
    }
    &-content {
      font-size: 1rem;
    }
    &-center-top img {
      height: 10rem;
    }
    &-center,
    &-center-bottom,
    &-right {
      margin-top: 3rem;
    }
    &-left {
      margin-top: 0;
    }
    &-left-top p {
      margin-top: 0;
    }
    &-right {
      display: flex;
      justify-content: space-around;
    }
  }

  .footer {
    height: 70vh;
    border-radius: 0;
  }

  .onscroll-left {
    animation: none;
  }
}

// Screen 5 to 6"

@media screen and (min-width: 321px) and (max-width: 360px) {
  body {
    margin: 0;
  }

  .header {
    font-size: 2rem;
    border-radius: 0;
    &-nav-item {
      left: 85vw;
      height: 2rem;
      font-size: 0.5rem;
    }
    &-description {
      font-size: 4rem;
    }
    &-gif img {
      height: 15rem;
    }
  }

  .main {
    display: block;
    padding: 1rem;
    &-subtitle {
      font-size: 2rem;
      margin-top: 2rem;
    }
    &-content {
      font-size: 1rem;
    }
    &-center-top img {
      height: 10rem;
    }
    &-center,
    &-center-bottom,
    &-right {
      margin-top: 3rem;
    }
    &-left {
      margin-top: 0;
    }
    &-left-top p {
      margin-top: 0;
    }
    &-right {
      display: flex;
      justify-content: space-around;
    }
  }

  .footer {
    height: 70vh;
    border-radius: 0;
  }

  .onscroll-left {
    animation: none;
  }
}

// Screen Iphone

@media screen and (min-width: 361px) and (max-width: 414px) {
  body {
    margin: 0;
  }

  .header {
    font-size: 2rem;
    border-radius: 0;
    &-nav-item {
      display: none;
    }
    &-description {
      font-size: 4rem;
    }
    &-gif {
      height: 20rem;
    }
    &-top {
      display: block;
      text-align: center;
      font-size: 4rem;
    }
  }

  .main {
    display: block;
    padding: 1rem;
    &-subtitle {
      font-size: 2rem;
      margin-top: 2rem;
    }
    &-content {
      font-size: 1rem;
    }
    &-center-top img {
      height: 10rem;
    }
    &-center,
    &-center-bottom,
    &-right {
      margin-top: 3rem;
    }
    &-left {
      margin-top: 0;
    }
    &-left-top p {
      margin-top: 0;
    }
    &-right {
      display: flex;
      justify-content: space-around;
    }
  }

  .footer {
    height: 70vh;
    border-radius: 0;
  }

  .onscroll-left {
    animation: none;
  }
}

/////////////// Responsive Tablet Portait

// Screen 7"

@media screen and (min-width: 415px) and (max-width: 600px) {
  body {
    margin: 0;
  }

  .header {
    font-size: 2rem;
    border-radius: 0;
    &-nav-item {
      left: 85vw;
      height: 2rem;
      font-size: 0.5rem;
    }
    &-description {
      font-size: 4rem;
    }
    &-gif img {
      height: 15rem;
    }
  }

  .main {
    display: block;
    padding: 1rem;
    &-subtitle {
      font-size: 2rem;
      margin-top: 2rem;
    }
    &-content {
      font-size: 1rem;
    }
    &-center-top img {
      height: 10rem;
    }
    &-center,
    &-center-bottom,
    &-right {
      margin-top: 3rem;
    }
    &-left {
      margin-top: 0;
    }
    &-left-top p {
      margin-top: 0;
    }
    &-right {
      display: flex;
      justify-content: space-around;
    }
  }

  .footer {
    height: 70vh;
    border-radius: 0;
  }

  .onscroll-left {
    animation: none;
  }
}

// Screen 8" to 10"

@media screen and (min-width: 601px) and (max-width: 800px) {
  body {
    margin: 0;
  }

  .header {
    font-size: 2rem;
    border-radius: 0;
    height: auto;
    &-menu-burger {
      left: 85vw;
      height: 3rem;
    }
    &-description {
      font-size: 4rem;
    }
    &-gif img {
      height: 15rem;
    }
  }

  .main {
    display: block;
    padding: 1rem;
    &-subtitle {
      font-size: 2rem;
      margin-top: 2rem;
    }
    &-content {
      font-size: 1rem;
    }
    &-center-top img {
      height: 10rem;
    }
    &-center,
    &-center-bottom,
    &-right {
      margin-top: 3rem;
    }
    &-left {
      margin-top: 0;
    }
    &-left-top p {
      margin-top: 0;
    }
    &-right {
      display: flex;
      justify-content: space-around;
    }
  }

  .footer {
    height: 70vh;
  }

  .onscroll-left {
    animation: none;
  }
}

// Little screen

@media screen and (min-width: 801px) and (max-width: 1300px) {
  body {
    margin: 2;
  }

  .header {
    height: 70vh;
    font-size: 3rem;
    border-radius: 30px 30px 0 0;
    &-menu-burger {
      left: 85vw;
      height: 3rem;
    }
    &-description {
      font-size: 4rem;
    }
    &-gif img {
      height: 15rem;
    }
  }

  .main {
    display: block;
    padding: 1rem;
    &-subtitle {
      font-size: 3rem;
      margin-top: 2rem;
    }
    &-content {
      font-size: 2rem;
    }
    &-center-top img {
      height: 10rem;
    }
    &-center,
    &-center-bottom,
    &-right {
      margin-top: 3rem;
    }
    &-left {
      margin-top: 0;
    }
    &-left-top p {
      margin-top: 0;
    }
    &-right {
      display: flex;
      justify-content: space-around;
    }
  }

  .footer {
    height: 70vh;
  }

  .onscroll-left {
    animation: none;
  }
}
